.downloadButton {
    // background: #40356F;
    color: whitesmoke;
    position: absolute;
    top: 2%;
    left: calc(100% - 2em - 2%);
    display: inline-block;
    .fa-file-download {
        font-size: 2em;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: #40356F;
        }
    }
}